:root {
  --blue: #c4e6ef;
  --red: #d11615;
  --white: #ffffff;
}

@font-face {
  font-family: ValueRegular;
  src: url("./fonts/value-regular.otf");
}
@font-face {
  font-family: ValueBold;
  src: url("./fonts/value-bold.otf");
}
@font-face {
  font-family: ValueSerifBold;
  src: url("./fonts/value-serif-bold.otf");
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: ValueRegular;
  font-weight: 600;
  font-size: 2rem;
  color: var(--red);
  background-color: var(--blue);
}
h1 {
  display: flex;
  justify-content: center;
  width: 100%;

  font-family: ValueBold;
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--white);

  text-shadow: -1px 0 var(--red), 0 1px var(--red), 1px 0 var(--red),
    0 -1px var(--red), 0.5rem 0.5rem var(--red);

  /* letter-spacing: 2rem; */
  line-height: 6rem;
  margin: 0;
}
h2 {
  display: flex;
  width: 100%;

  margin: 1.5rem 0;
  font-size: 2rem;
}
a {
  width: max-content;
  align-self: center;

  font-size: 1.5rem;
  color: var(--red);
}

.page {
  display: flex;
  width: 60%;
  max-width: 800px;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
  border: 12px solid var(--red);
  padding: 3rem;
}
.tter {
  width: 120px;
  box-sizing: border-box;
  padding: 1rem;
}
.info-row {
  margin: 2rem 0;
  display: flex;
}
.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.grayscale-1 {
  max-width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.grayscale-2 {
  max-width: 50%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
}
.grayscale-3 {
  max-width: 50%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    width: 95%;
    margin-bottom: 10%;
  }
  h1 {
    /* font-size: 3rem; */
    text-shadow: -1px 0 var(--red), 0 1px var(--red), 1px 0 var(--red),
      0 -1px var(--red), 0.4rem 0.4rem var(--red);
  }
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  .container {
    margin-top: 25%;
    padding: 1.5rem;
  }
  .info-text {
    font-size: 1.4rem;
    margin-left: 0;
  }
  .grayscale-2,
  .grayscale-3 {
    display: none;
  }
}

@media only screen and (max-width: 512px) {
  a {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
    text-shadow: -1px 0 var(--red), 0 1px var(--red), 1px 0 var(--red),
      0 -1px var(--red), 0.25rem 0.25rem var(--red);
  }
}
